
set editing-mode vi
$if mode=vi
    set keymap vi-command
    "\e[A":history-search-backward
    "\e[B":history-search-forward
    "n":"invim\C-m"
    ",b":"ivb\C-m"
    j:history-search-forward
    k:history-search-backward
    set keymap vi-insert
    # these are for vi-insert mode
    "\e[A":history-search-backward
    "\e[B":history-search-forward
    "\ea":"\C-asudo \C-e"
$endif

"\C-w":"tmux select-pane -t 1 \\; resize-pane -Z \\; send-keys nvim Enter\C-m"
"\C-n":"tmux list-panes -F '#F' | grep -q Z || tmux resize-pane -Z && nv\C-m"
"\C-p":"tmux send-keys mvp Enter\C-m"
"\C-o":"tmux send-keys selectProject Enter\C-m"
"\C-x":"tmux kill-session\C-m"
"\C-b":"cd ~ &&  tmux list-panes -F '#F' | grep -q Z || tmux resize-pane -Z && vb\C-m cd -\C-m"


set show-all-if-unmodified on
set show-all-if-ambiguous on
set show-mode-in-prompt on
set colored-completion-prefix on
set colored-stats on
set menu-complete-display-prefix on
set mark-symlinked-directories on
set completion-ignore-case on
#set show-all-if-ambigous on

