snippet c "cnoremap"
cnoremap $1 $2
endsnippet

snippet v "vnnoremap"
vnoremap $1 $2
endsnippet

snippet test "testing"
import $1Logo$2 from '../src/IconComponents/$2/$1Logo$2'
endsnippet

snippet in "input"
call inputsave()
let $1 = input('$2')
call inputrestore()
endsnippet

snippet ag "augroup"
augroup $1
    autocmd!
	$2
augroup end
endsnippet

snippet pub "function"
fun! $1()
    $2
endf
endsnippet
	
snippet n "nnoremap"
nnoremap $1 $2
endsnippet

snippet p "plugin"
Plug '$1'
endsnippet

snippet hi "hilight"
hi $1 ctermfg=${2:25} ctermbg=234 cterm=NONE guifg=#a9b7c6 guibg=#2b2b2b gui=NONE " $3
endsnippet


snippet i "inoremap"
inoremap $1 $2
endsnippet
